/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
html {
  font-size: 62.5%;
  text-align: center;
}
main {
  width: 80rem;
  margin: 2rem auto;
}
.champions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.champion {
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
  padding: 4rem 4rem;
  text-align: center;
  cursor: pointer;
  background-color: greenyellow;
}
.newChamp {
  background-color: blueviolet;
}
.newChamp img {
  width: 60%;
}
.champion img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 3px 2px rgb(26, 7, 66);
}
@media screen and (max-width: 576px) {
  main {
    width: 30rem;
  }
  .champions {
    grid-template-columns: repeat(1, 1fr);
  }
}
